<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="jumbotron">
                <form method="post" enctype="multipart/form-data" action="/home/upload">
                    <input type="text" name="Name" placeholder="Image Title" class="form-control" />
                    <input type="file" class="mt-3" name="imageFile" />
                    <button class="btn btn-primary mt-5">Upload</button>
                </form>
            </div>
        </div>

    </div>
    
</div>